        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>5 recent posts</h4>
            <ol class="list-unstyled">
            {% for post in recent_posts %}
              <li><a href="/post/{{post.id}}">{{post.title|e}}</a></li>
            {% endfor %}
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>Archives</h4>
            <ol class="list-unstyled">
            {% for post in archived_posts %}
              <li><a href="#">{{post.date}} ({{post.count}})</a></li>
            {% endfor %}
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->
