    <div class="blog-footer">
      <p>A simple blog with PHP, MySQL, Composer, Silex, Twig, and Bootstrap by <a href="https://twitter.com/marlenunez">@marlenunez</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </div>
